.form {
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
}
.input {
  width: 100%;
  padding: 1rem 1rem 5rem 1rem;
  border: 0.5px solid rgb(103, 114, 126, 0.3);
  font-family: "Rubik", sans-serif;
}
.div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.image {
  width: 15%;
}
.button {
  padding: 1.2rem 3rem;
  background-color: #5457b6;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}
.button:disabled {
  background-color: rgb(84, 87, 182, 0.5);
}
