.comment {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  margin: 2.5rem 0rem;
  background-color: white;
}
.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.dp {
  width: 15%;
}
.name {
  font-weight: 700;
}
.date {
  color: #67727e;
}
.body {
  color: #67727e;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likeCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: rgb(84, 87, 182, 0.1);
  padding: 1rem;
  width: 35%;
  border-radius: 1rem;
}
.likeCount span {
  color: #5457b6;
  font-weight: 700;
}

.replyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.deleteEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.reply {
  font-weight: 700;
  color: #5457b6;
}
