.mobileDesign {
  display: block;
}
.notMobileDesign {
  display: none;
}
.replyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.deleteEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.reply {
  font-weight: 700;
  color: #5457b6;
}
@media (min-width: 750px) {
  .mobileDesign {
    display: none;
  }
  .notMobileDesign {
    display: block;
  }
}
