.mobileDesign {
  display: block;
}
.notMobileDesign {
  display: none;
}
.replyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.deleteEdit {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 1.5rem;
}
.delete {
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.edit {
  color: #5457b6;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media (min-width: 750px) {
  .mobileDesign {
    display: none;
  }
  .notMobileDesign {
    display: block;
  }
  /* .deleteEdit {
    flex-direction: row;
  } */
  .deleteEdit {
    flex-direction: column;
  }
}
