* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
}
.App {
  padding: 2rem;
  font-size: 1.6rem;
  background-color: rgb(234, 236, 241, 0.5);
}
.container {
  max-width: 1080px;
  margin: auto;
}
.App.disable-scroll {
  height: 100vh;
  overflow: hidden;
}

button {
  border: none;
  background-color: white;
}
@media (min-width: 750px) {
  .App {
    padding: 7rem;
  }
}
